/* Make sure we don't have margins, get rid of any scrollbars that might make things ugly */
html, body {
    height: 100%; width: 100%; overflow: hidden;
}
/* Set a header */
h1 {
    color: white;
    font-size: 18px;
    text-align: center;
}

h2 {
    font-size: 19px;
    line-height: 21px;

}
/* Set the paragraph style */
p {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
body {
    /* no margins = no ugly white space */
    margin: 0;
    padding: 0;
    /* Georgia/serif is font of choice (?) */
    font-family: Georgia, serif;
    font-size: 13px;
    /* In case we can't find the background, set a color */
    background: #fff;
    /* Use wallpaper.jpg in the root directory */
    /* Perhaps eventually move resources to folders...it is small enough for now though */
    background-image: url(wallpaper.jpg);
    /* Lets center it */
    background-position: 50%;
    /* And full screen */
    background-size: cover;
    background-attachment: fixed;
    border: 0;
    color: #404040;
    -webkit-user-select: none
}
/* Inner Div settings for vertical center */
.inner {
    display: table-cell;
    vertical-align: middle;
}
/* Outer div for vertical center  */
.outer {
    position: absolute;
    height:100%;
    width: 100%;
    display: table;

}
.card {
    /* There shouldn't be any, but better safe than sorry */
    overflow: hidden;
    padding: 40px;
    /* Set a background color...not sure why I did this twice...*/
    background-color: #f7f7f7;
    background-color: rgba(2, 2, 6, 0.34);
    /* Center it, with a bottom margin */
    margin: 0px auto 25px;
    border-radius: 2px;
    /* Set a shadow  */
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

/* CSS for terms and conditions */
#terms {
    color: white;
    font-size: 18px;
    margin-left: 50px;
    text-align: center !important;

}
.signin-card {
    width: 274px;
    max-width: 90%;
}

.card input[type=text],
.card input[type=password],
.card select {
    -webkit-appearance: none;
    height: 44px;
    font-size: 16px;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 0 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 1px;
    color: #404040;
    outline: none;
}
.card form {
    margin: 0;
    padding: 0;
}
.card form .error {
    border: 1px solid #dd4b39;
    z-index: 2;
}
.card input[type=text]:hover,
.card input[type=password]:hover,
.card select:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    z-index: 3;
}
.card input[type=text]:active,
.card input[type=text]:focus,
.card input[type=password]:active,
.card input[type=password]:focus,
.card select:active,
.card select:focus {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    z-index: 3;
}
#user {
    margin-bottom: 10px;
}
#pass {
    margin-top: -1px;
}
.btn {
    outline: 0;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: inherit;
    min-width: 46px;
    text-align: center;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    transition: border 0.218s, background 0.218s, box-shadow 0.218s, color 0.218s;
    text-shadow: 0 1px 0 #443FD4;
    color: white;
    background: #443FD4;
    border: solid 1px #443FD4;
}
.btn:hover {
    transition: all 0s;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background: #00D8F0;
    border-color: #00D8F0;
    color: white;
}

.actions-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background: rgba(0,0,0,.4);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
    line-height: 44px;
    font-size: 13px;
    padding: 0 14px;
    box-shadow: 0 -1px 0 rgba(255,255,255,.1);
    box-sizing: border-box;
}
.action {
    cursor: pointer;
    float: left;
    margin-right: 20px;
    width: 30%;
}
.action-clock {
    cursor: default;
    float: right;
    margin-right: 0;
    text-align: right;
    font-size: 18px;
}
.action i{
    display: inline-block;
    float: left;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    margin-top: 14px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#error {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background-color: rgba(255, 104, 104, 1);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
    color: white;
    font-weight: bold;
}
